.wrapper {
  width: 1190px;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.clear:after {
  content: ",";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

a {
  color: #333;
  font-size: 14px; }

a:hover {
  color: #239cdc;
  text-decoration: underline; }

.price {
  display: inline-block;
  margin-top: 10px;
  color: red;
  color: 15px; }

.header .top {
  width: 100%;
  height: 32px;
  border-bottom: 1px solid #d9d9d7;
  background: #f6f6f6; }

.top .top-left span {
  font-size: 14px;
  float: left;
  line-height: 32px;
  margin: 0 10px; }

.top-left span a {
  color: #333; }

.top-right > div {
  margin: 0 10px;
  font-size: 14px;
  float: left;
  line-height: 32px; }

.top-right div a {
  color: #333; }

.header .buttom {
  margin-top: 10px;
  height: 82px; }

.header .logo {
  padding: 0 10px 0 3px; }

.header .wrapper > a {
  width: 210px;
  height: 70px; }

.header .search {
  width: 466px;
  height: 70px;
  margin-right: 24px;
  padding: 12px 0 0 22px; }

.search .search_bar {
  width: 460px;
  height: 34px;
  border: 3px solid #f12e24; }

.search .search_bar input {
  width: 383px;
  height: 32px;
  border: 0;
  outline: none;
  text-indent: 10px; }

.search .search_bar button {
  border: 0;
  width: 77px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #f12e24;
  cursor: pointer;
  font-size: 16px;
  color: #fff; }

.search .hotbot li {
  height: 28px;
  line-height: 28px;
  float: left;
  margin-right: 8px;
  margin-left: 3px; }

.search .hotbot li a {
  color: #000;
  font-size: 14px; }

.search .hotbot > div {
  float: right;
  margin-top: 5px; }

.shop-cart {
  padding-left: 17px;
  position: relative;
  width: 120px;
  height: 40px;
  margin: 12px 17px 0 0;
  background: red; }

.nav {
  width: 100%;
  height: 34px;
  background: #f12e24; }

.nav a {
  display: block;
  color: #fff;
  font-size: 15px;
  height: 34px;
  line-height: 34px;
  text-align: center; }

.nav .goods_category {
  width: 220px; }

.nav ul li {
  float: left;
  padding: 0 19px; }

.main .main_top {
  height: 590px; }

.goods_category-nav {
  width: 220px;
  height: 590px;
  background: #ccc; }

.goods_category-nav div {
  width: 205px;
  height: 39px;
  margin-left: 15px; }

.main .main_top_right {
  width: 969px;
  height: 590px; }

.main .product_display {
  width: 970px;
  height: 86px;
  padding-top: 4px; }

.main .product_display_left {
  width: 460px;
  height: 84px; }

.product_display_left .advertising_board {
  width: 60px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  margin: 4px 0 0 5px;
  position: relative;
  background: url("../img/channelchange.png") no-repeat; }

.product_display_left .advertising_board img {
  position: absolute;
  top: 40px; }

.advertising_concent {
  width: 391px;
  height: 74px;
  padding-top: 4px;
  border: 1px solid #e2e2e2; }

.advertising_concent > a {
  display: block;
  width: 100px;
  height: 70px;
  margin-left: 4px;
  background: red;
  margin-right: 5px; }

.advertising_concent a {
  color: #333; }

.advertising_concent p {
  margin: 5px 0;
  font-size: 14px; }

.advertising_concent p span {
  background: orange;
  color: #fff; }

.advertising_concent .zhibo {
  color: #f22d25;
  border: 1px solid #f22d25;
  width: 84px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin-right: 10px;
  font-size: 14px; }

.product_display_center {
  width: 387px;
  height: 78px;
  margin-left: 5px;
  border: 1px solid #e2e2e2; }

.product_display_right {
  margin: 22px 0 0 4px; }

.main_top_right .banner {
  width: 730px;
  height: 500px;
  background: red;
  position: relative; }

.main_top_right .banner_right {
  position: absolute;
  right: -238px;
  top: 0;
  z-index: 222; }

.main_top_right .banner_right > div {
  width: 250px;
  height: 245px;
  background: orange; }

.banner_right .banner_right_t {
  margin-bottom: 10px;
  position: relative; }

.banner_right div > div {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 53px;
  padding: 10px 0;
  background: #fff; }

.banner_right div > div > div {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 6px;
  background: url("../img/xiaojiantou.png"); }

.banner_right div > div h4 {
  text-align: center;
  width: 100%;
  height: 31px;
  line-height: 31px; }

.banner_right div > div p {
  text-align: center;
  width: 100%;
  height: 23px;
  line-height: 23px;
  font-size: 14px; }

.content_left .banner .left_btn, .content_left .banner .right_btn, .big_advertising .left_btn, .big_advertising .right_btn {
  width: 25px;
  height: 45px;
  position: absolute;
  overflow: hidden;
  border: 1px solid #ccc;
  top: 50%; }

.content_left .banner .left_btn span, .content_left .banner .right_btn span, .big_advertising .left_btn span, .big_advertising .right_btn span {
  margin-left: 24px;
  text-align: center;
  height: 45px;
  line-height: 45px; }

.content_left .banner ul {
  position: absolute;
  left: 40%;
  bottom: 10px; }

.content_left .banner ul li {
  float: left;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  background: url("../img/q.png"); }

.content_right {
  position: absolute;
  left: 418px;
  top: 0; }

.content_right li {
  float: left;
  border: 1px solid #e8e6e6;
  width: 220px;
  height: 305px;
  padding: 8px;
  margin-left: 16px;
  background: #fff; }

.louceng_content {
  background: #f6f6f7; }

.louceng_content .content_title {
  margin: 20px 0 13px 0;
  height: 44px; }

.louceng_content .content_title h3 {
  font-size: 24px;
  color: #424242;
  float: left; }

.louceng_content .content_title > a {
  display: inline-block;
  margin-left: 30px;
  padding-top: 7px;
  color: #333; }

.louceng_content .content {
  position: relative; }

.content_left {
  width: 418px;
  border: 1px solid #ccc; }

.content_left .banner {
  width: 418px;
  position: relative; }

.content_left .banner img {
  width: 418px; }

.content_left .banner > div:hover {
  width: 73px; }

.content_left .banner .left_btn {
  background: url("../img/leftjiantou.png") no-repeat left center;
  left: 0;
  border-left: 0; }

.content_left .banner .right_btn {
  background: url("../img/rightjiantou.png") no-repeat right center;
  right: 0;
  border-right: 0; }

.content_left .banner ul li:hover {
  background: url("../img/qf.png"); }

.content_left .intro {
  width: 408px;
  height: 25px;
  padding: 23px 0 8px 10px; }

.content_left .price {
  width: 408px;
  height: 22px;
  padding: 8px 0 0 10px; }

.content_left .recommend {
  width: 388px;
  height: 112px;
  padding: 20px 15px 24px;
  border-top: 1px dotted #b2b2b2; }

.content_left .recommend h3 {
  color: #2c2c2c;
  margin-bottom: 15px; }

.content_left .recommend div {
  width: 356px;
  height: 60px;
  border: 1px solid #ccc;
  padding: 15px; }

.content_right li:nth-of-type(1) {
  margin-bottom: 20px; }

.content_right li:nth-of-type(2) {
  margin-bottom: 20px; }

.content_right li:nth-of-type(3) {
  margin-bottom: 20px; }

.group_buying .content_left .banner, .global_shopping .content_left .banner {
  width: 400px;
  padding: 10px 10px 30px; }

.group_buying .content_left .banner a img, .global_shopping .content_left .banner a img {
  width: 100%; }

.big_advertising {
  width: 100%;
  position: relative;
  margin-top: 30px; }

.big_advertising .left_btn {
  background: url("../img/leftjiantou.png") no-repeat left center;
  left: 0;
  border-left: 0; }

.big_advertising .right_btn {
  background: url("../img/rightjiantou.png") no-repeat right center;
  right: 0;
  border-right: 0; }

.sorting .content_title {
  position: relative;
  border-bottom: 1px solid #000; }

.sorting .content_title .more {
  width: 80px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 10px;
  background: #fff;
  border: 1px solid #dbdbdb; }

.sorting .more a {
  font-size: 14px;
  display: block;
  margin: 5px 12px;
  color: #333; }

.sorting .content_left {
  width: 290px;
  border: 0; }

.sorting .content_left .banner {
  width: 290px;
  position: relative; }

.sorting .content_left .banner img {
  width: 290px; }

.sorting .content_right {
  position: absolute;
  left: 290px;
  top: 0; }

.sorting .content_right li {
  float: left;
  border: 1px solid #e8e6e6;
  width: 200px;
  height: 274px;
  padding: 8px;
  margin-left: 6px;
  background: #fff; }

.sorting .content_right li:nth-of-type(1) {
  margin-bottom: 6px; }

.sorting .content_right li:nth-of-type(2) {
  margin-bottom: 6px; }

.sorting .content_right li:nth-of-type(3) {
  margin-bottom: 6px; }

.sorting .content_right li:nth-of-type(4) {
  margin-bottom: 6px; }

.content_left .fenlei li {
  float: left;
  border: 1px solid #e8e8e8;
  width: 94px;
  height: 117px; }

.fenlei li:nth-of-type(1) {
  border-bottom: 0; }

.fenlei li:nth-of-type(2) {
  border-bottom: 0; }

.fenlei li:nth-of-type(3) {
  border-bottom: 0; }

.content_left li div {
  width: 92px;
  height: 50px;
  padding-top: 32px;
  position: relative;
  text-align: center; }

.content_left li div:hover {
  top: -10px; }

.content_left li p {
  color: #333;
  text-align: center;
  font-size: 14px; }

.content_left_b {
  width: 280px;
  height: 237px;
  padding: 5px 5px 0;
  background: #fff; }

.content_left_b .tuijian {
  height: 82px;
  padding-left: 41px;
  margin-left: 15px;
  background: url("../img/tuijianbg.png") no-repeat left top; }

.content_left_b .tuijian div {
  background: url("../img/xiaoicon.png") no-repeat left 13px;
  padding-left: 13px;
  height: 27px;
  line-height: 27px; }

.content_left_b .tuijian div a {
  color: #333;
  font-size: 14px; }

.content_left_b .picture {
  margin: 25px 0;
  width: 270px;
  height: 35px;
  text-align: center; }

.content_left_b .picture img {
  height: 35px;
  width: 77px;
  float: left;
  margin: 0 5px;
  position: relative; }

.content_left_b .picture img:hover {
  top: -10px; }

.content_left_b ul {
  margin: 17px 20px;
  width: 255px; }

.content_left_b ul li {
  float: left;
  margin: 0 13px 6px 0; }

.content_left_b li a {
  color: #333;
  font-size: 12px; }

.household_appliances .trademark > div {
  margin: 10px 0 0 8px;
  width: 88px;
  float: left;
  border-right: 1px dotted #b2b2b2; }

.household_appliances .trademark > div a {
  display: block;
  height: 40px;
  width: 80px;
  margin-bottom: 13px; }

.household_appliances .trademark > div img {
  width: 80px; }

.household_appliances .trademark ul {
  float: left;
  width: 160px;
  height: 203px;
  margin: 13px 0 0 18px; }

.household_appliances .trademark li {
  width: 80px;
  margin: 0 0 13px 0; }

.costume .content_left_b > div > div {
  display: block;
  float: left;
  width: 140px;
  height: 58px; }

.costume .content_left_b div img {
  width: 140px;
  height: 58px; }

.store_select .shop {
  float: left; }

.store_select .shop:nth-of-type(1) {
  margin-right: 10px; }

.store_select .shop:nth-of-type(3) {
  margin-right: 10px; }

.store_select .shop .shop_info {
  width: 590px;
  height: 145px; }

.store_select .shop_info .shop_name {
  float: left;
  position: relative;
  width: 250px; }

.shop_info .shop_name h3 {
  position: absolute;
  top: 30px;
  left: 60px;
  font-weight: 300; }

.shop_info .shop_name h3 a {
  font-size: 18px; }

.shop_info .shop_name > div {
  position: absolute;
  top: 80px;
  width: 90%;
  margin: 1% 5%;
  text-align: center; }

.shop_info .shop_name > div a {
  display: inline-block;
  font-size: 16px;
  color: #1c4976;
  border: 1px solid #1c4976;
  border-radius: 15px;
  text-align: center;
  padding: 10px; }

.shop_info .shop_name > div a:hover {
  color: #ea0505;
  text-decoration: none;
  border: 1px solid #f00;
  background: rgba(255, 255, 255, 0.5); }

.shop_info .first_commodity {
  float: left;
  width: 340px;
  height: 145px;
  background: #e9ecf0; }

.shop_info .first_commodity .product_description {
  width: 170px;
  height: 60px;
  margin: 40px 10px 0 25px;
  float: left; }

.commodity_pic a {
  display: block;
  float: right;
  margin: 15px 15px 0 0; }

.commodity_pic img {
  width: 117px;
  height: 117px; }

.store_select .shop .three_shop {
  background: #fff;
  padding: 20px 0 10px 0;
  height: 200px; }

.shop .three_shop > div {
  width: 170px;
  float: left;
  margin: 0 13px;
  padding-bottom: 30px;
  position: relative; }

.shop .three_shop > div img {
  width: 170px; }

.shop .three_shop .shop_info {
  width: 170px;
  height: 65px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); }

.three_shop .shop_info span {
  display: inline-block;
  width: 100%;
  text-align: center; }

.you_like .pic_list li {
  padding: 4px;
  width: 220px;
  border: 1px solid #e8e6e6;
  float: left; }

.pic_list li .commodity_pic_last {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center; }

.pic_list li .commodity_pic_last img {
  width: 220px; }

.pic_list li .commodity_intro {
  height: 36px;
  margin: 4px 0 3px 0;
  padding-left: 5px; }

.you_like .pic_list li:nth-of-type(1) {
  margin-right: 10px; }

.you_like .pic_list li:nth-of-type(2) {
  margin-right: 10px; }

.you_like .pic_list li:nth-of-type(3) {
  margin-right: 10px; }

.you_like .pic_list li:nth-of-type(4) {
  margin-right: 10px; }

.huiyuan {
  margin-top: 60px; }

.huiyuan .content_left {
  width: 427px; }

.huiyuan .content_left .banner {
  width: 427px;
  height: 210px; }

.huiyuan .content_left .banner img {
  width: 100%; }

.huiyuan .content_left .huiyuan_left_b {
  border: 1px solid #c2c2c2;
  border-top: none;
  height: 112px;
  width: 411px;
  background: #fff;
  padding-left: 14px; }

.content_left .huiyuan_left_b h3 {
  padding: 7px 0 7px 10px;
  color: #636363;
  font-size: 16px;
  font-weight: 300; }

.huiyuantequan {
  float: left;
  width: 66px; }

.huiyuantequan > div {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  position: relative; }

.huiyuantequan > div:hover {
  top: -10px; }

.huiyuantequan > div img {
  width: 100%; }

.huiyuantequan p {
  text-align: center;
  font-size: 13px;
  margin-top: 4px; }

.tab {
  position: relative;
  float: left;
  display: inline;
  width: 750px;
  height: auto;
  margin-left: 10px; }

.tab ul {
  border-bottom: 1px solid #424242;
  padding-left: 33px; }

.tab ul li {
  float: left;
  position: relative;
  z-index: 1;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  width: 149px; }

.tab ul li .bg_pic {
  position: absolute;
  bottom: 0;
  right: -15px;
  width: 14px;
  height: 37px;
  font-size: 0;
  overflow: hidden;
  line-height: 0; }

.tab .content > div > div {
  float: left;
  display: inline;
  width: 170px;
  padding: 5px;
  background-color: #ffffff;
  margin-right: 7px; }

.tab .content .pic {
  width: 170px;
  height: 170px;
  position: relative;
  text-align: center; }

.tab .content .jianjie {
  line-height: 18px;
  height: 36px;
  margin: 4px 0 3px 0;
  padding: 0 0 0 5px;
  overflow: hidden; }

.tab .content .xiaoshoujia {
  font-size: 14px;
  color: #acacac;
  padding-left: 5px;
  margin-bottom: 2px;
  margin-top: -2px; }

.tab .content .xiaoshoujia span {
  font-size: 12px; }

.tab .content .huiyuanjia {
  font-size: 12px;
  color: #ea0505;
  padding-left: 5px;
  margin-bottom: 5px; }

.tab .content > div {
  display: none; }

.tab .content .show {
  display: block; }

.tab .active {
  background-color: #f6f6f7;
  padding-top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #424242;
  border-bottom: 1px solid #f6f6f7;
  top: 1px; }

.tab .content .show {
  display: block; }

.foot {
  padding-top: 30px;
  background: #f6f6f7; }

.foot_top .meau {
  width: 838px;
  height: 184px; }

.foot_top .meau .meau_list {
  width: 115px;
  float: left;
  margin-left: 15px;
  text-align: center; }

.meau .meau_list h4 {
  margin: 0 0 15px 26px;
  width: 33px;
  height: 29px;
  background: url("../img/newflootimg1.png") no-repeat; }

.meau .meau_list:nth-of-type(2) h4 {
  background: url("../img/newflootimg2.png") no-repeat; }

.meau .meau_list:nth-of-type(3) h4 {
  background: url("../img/newflootimg3.png"); }

.meau .meau_list:nth-of-type(4) h4 {
  background: url("../img/newflootimg4.png"); }

.meau .meau_list:nth-of-type(5) h4 {
  background: url("../img/newflootimg5.png"); }

.meau .meau_list:nth-of-type(6) h4 {
  background: url("../img/newflootimg6.png"); }

.meau .meau_list li {
  width: 83px;
  height: 20px;
  line-height: 20px; }

.meau .meau_list li a {
  color: #6d7177;
  font-size: 12px; }

.meau .meau_list .title {
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
  color: #505966;
  height: 25px; }

.gonggao {
  float: left;
  height: 147px;
  width: 338px;
  border: 1px solid #d9d9d9; }

.notice_title {
  height: 29px;
  color: #505966;
  line-height: 29px;
  margin: 5px 0; }

.notice_title h4 {
  float: left;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  margin-left: 13px; }

.notice_title > div {
  height: 29px;
  overflow: hidden;
  float: left;
  width: 212px;
  overflow: hidden;
  margin-left: 10px; }

.notice_title a {
  color: #239CDC;
  font-size: 12px;
  display: block;
  height: 29px;
  width: 212px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.notice_title .more {
  font-size: 12px;
  float: left;
  margin-left: 12px;
  color: #505966; }

.notice_pic {
  width: 158px;
  height: 87px;
  float: left;
  margin-left: 9px; }

.foot_bot {
  margin-top: 30px;
  border-top: 3px solid #5c686e; }
