%left-right-btn{
	width:25px;
	height:45px;
	position:$po-absolute;
	overflow:hidden;
	border:1px solid #ccc;
	top:50%;
	display:none;
	cursor: pointer;
}
%left-right-btn span{
	margin-left:24px;
	text-align:center;
	height:45px;
	line-height:45px;
	color:red;
}
%circle-btn{
	position:$po-absolute;
	left:40%;
	bottom:10px;
}
%circle-btn li{
	float:$left;
	margin-left:5px;
	width:10px;
	height:10px;
	background:url("../img/q.png")
}

@font-face {font-family: 'iconfont';
	src: url('../font/iconfont.eot'); /* IE9*/
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.hiconfont{
	font-family:"iconfont" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;}






.main{
	background:#f6f6f7;	
}
.main .main_top{
	height:80px;
	position:$po-relative;
	margin-bottom:10px;
}
.goods_category_nav{
	width:220px;
	height:590px;
	background:rgba(255, 255, 255, 0.5);
	position:$po-relative;
	z-index:9999;	
}
.goods_category_nav li>a{
	display:block;
	width: 205px;
    height: 39px;
    padding-left:15px;
    position:$po-relative;
    line-height: 39px;
    font-size:13px;
}
.goods_category_nav .bg_div{
	position:$po-absolute;
    bottom: 0;
    right: -1px;
    border: 1px solid #e0dfdf;
    height: 34px;
    width: 210px;
    border-right: 1px solid #ffffff;
    z-index: 10007;
    display: none;
    box-shadow: -3px 3px 3px rgba(224, 223, 223, 0.5);
}
.goods_category_nav .black_bg{
	width: 200px;
    height: 39px;
    margin:0;
    border-bottom: 1px dotted #bdbdbd;
    vertical-align: middle;
    line-height: 39px;
    background:#636566;
}
.goods_category_nav .black_bg a{
	height:31px;
	width:155px;
	padding:8px 0 0 50px;
}
.goods_category_nav .black_bg:hover{
	background:orange;
}
//二级导航
.subnav{
	display:none;
    position:$po-absolute;
	left:220px;
	top:0;	
    width: 969px;
    height: 590px;
    z-index: 10000;

}
.subnav .nav_wenzi{
	width:340px;
	height: 550px;
	padding:20px;
	background:#fff;
	border-left:1px solid #ccc;
}
.subnav .nav_wenzi div{
	width:340px;
	margin-bottom:20px;
}
.subnav .nav_wenzi div h3{
	font-size:15px;
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
}
.subnav .nav_wenzi div p{
	height:24px;
}
.subnav .nav_wenzi div p a{
	line-height:24px;
	display:inline-block;
	margin-right:6px;
}
.subnav .nav_pic {
	width:580px;
	height: 590px;
}
.subnav .nav_pic div{
	float:$left;
}
.subnav .nav_pic div a{
	float:$left;
	display:block;
	width:290px;
	height: 290px;
}
.goods_category_nav li a:hover .bg_div{
	display:block;
}
.goods_category_nav li:hover .subnav{
	display:block;
}
.main .main_top_right{
	width:969px;
}
.main .product_display{
	width:970px;
	height:86px;
	padding-top:4px;
}
.main .product_display_left{
	width:460px;
	height:84px;
}
.product_display_left .advertising_board{
	width:60px;
	height:40px;
	line-height:40px;
	font-size:14px;
	margin:4px 0 0 5px;
	position:$po-relative;
	background:url("../img/channelchange.png") no-repeat;
}

.product_display_left .advertising_board img{
	position:$po-absolute;
	top:40px;
}
.advertising_concent{
	width:391px;
	height:74px;
	padding-top:4px;
	border:1px solid #e2e2e2;
	position:$po-relative;
}
.advertising_concent .donghua{
	display:block;
	width:100px;
	height:70px;
	margin-left:4px;
	margin-right:5px;
	overflow:hidden;
	position:$po-relative;
}
.advertising_concent .donghua .pic{
	width:90px;
	height:90px;
	position:$po-absolute;
	left:7px;
	top:-8px;
}
.advertising_concent a{
	color:#333;
}
.advertising_concent i img{
	display:block;
	position:$po-absolute;
	top:29%;
	left:34%;
	width:33px;
	height:33px;
	z-index:2;

}
.advertising_concent p{
	margin:5px 0;
	font-size:14px;
}
.advertising_concent p span{
	background:orange;
	color:#fff;
}
.advertising_concent .zhibo{
	color:#f22d25;
	border:1px solid #f22d25;
	width:84px;
	height:22px;
	line-height:22px;
	text-align:center;
	margin-right:10px;
	font-size:14px;
}
.product_display_center{
	width:387px;
	height:78px;
	margin-left: 5px;
	border:1px solid #e2e2e2;
}
.product_display_right{
	margin-top:15px;
	width:112px;
	height:80px;
}
 .main_top_banner{
	width:100%;
	height:500px;
	position:$po-relative;
	margin-bottom:30px;
}
 .main_top_banner .big_banner{
 	overflow:hidden;
 	width: 100%;
 }
 .big_banner ul{
 	width:100%;
 }
 .big_banner li{
	width: 100%;
	height:500px;
	position:$po-absolute;
	left: 0px;
    top: 0px;
    opacity:0;
}
 .big_banner li:nth-of-type(1){
 	 opacity:1;
 }
 .big_banner li>a>img{
 	width:100%;
 	height:500px;
 }
 .main_top_banner .right_btn:hover{
	width:73px;
}
 .main_top_banner .left_btn:hover{
	width:73px;
}

 .main_top_banner .left_btn{
	@extend %left-right-btn;
	background:#fff url('../img/leftjiantou.png') no-repeat left center;
	left:22%;
	border-left:0;
}
 .main_top_banner .right_btn{
	@extend %left-right-btn;
	background:#fff url('../img/rightjiantou.png') no-repeat right center;
	right:337px;
	border-right:0;
	padding-right:10px;
	width:15px;
}
 .main_top_banner .circle_btn{
	@extend %circle-btn;
	bottom:20px;
}
 .main_top_banner .circle_btn .active{
	background:url("../img/qf.png");
}

 .banner_right{
	position:$po-absolute;
	right:86px;
	top:0px;
	z-index:222;
}
 .banner_right>div{
	width:250px;
	height:245px;
	background:orange;
}
 .banner_right_t{
	margin-bottom:10px;
	position:$po-relative;
}
.banner_right_b{
	position:$po-relative;
}
.banner_right div>div{
	position:$po-absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:53px;
	padding:10px 0;
	background:#fff;
}
.banner_right a img{
	position:$po-absolute;
	top:0;
	left:0;
}
.banner_right .sanjiaotu{
	position:$po-absolute;
	top:-5px;
	left:0;
	width:100%;
	height:6px;
	background:url('../img/xiaojiantou.png')
}
.banner_right div>div h4{
	text-align:center;
	width:100%;
	height:31px;
	line-height:31px;
}
.banner_right div>div p{
	text-align:center;
	width:100%;
	height:23px;
	line-height:23px;
	font-size:14px;
}