.foot{
	padding-top:30px;
	background:#f6f6f7
}
.foot_top .meau{
	width: 838px;
    height: 184px;
}
.foot_top .meau .meau_list{
	width: 115px;
    float: left;
    margin-left: 15px;
    text-align:center;
}
.meau .meau_list h4{
	margin:0 0 15px 26px;
    width: 33px;
    height: 29px;
    background: url("../img/newflootimg1.png") no-repeat;
}
.meau .meau_list:nth-of-type(2) h4{
	background: url("../img/newflootimg2.png") no-repeat;
}
.meau .meau_list:nth-of-type(3) h4{
	background: url("../img/newflootimg3.png");
}
.meau .meau_list:nth-of-type(4) h4{
	background: url("../img/newflootimg4.png");
}
.meau .meau_list:nth-of-type(5) h4{
	background: url("../img/newflootimg5.png");
}
.meau .meau_list:nth-of-type(6) h4{
	background: url("../img/newflootimg6.png");
}
.meau .meau_list li{
	width:83px;
	height: 20px;
    line-height: 20px;
}
.meau .meau_list li a{
	color:#6d7177;
	font-size:12px;
}
.meau .meau_list .title{
	font-size: 14px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    color: #505966;
    height: 25px;
}
.gonggao{
	 float: left;
    height: 147px;
    width: 338px;
    border: 1px solid #d9d9d9;
}
.notice_title{
	height: 29px;
    color: #505966;
    line-height: 29px;
    margin: 5px 0;
}
.notice_title h4{
	float: left;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    margin-left: 13px;
}
.notice_title>div{
	height: 29px;
    overflow: hidden;
    float: left;
    width: 212px;
    overflow: hidden;
    margin-left: 10px;
}
.notice_title a{
	color: #239CDC;
    font-size: 12px;
    display: block;
    height: 29px;
    width: 212px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notice_title .more{
	font-size: 12px;
	float: left;
    margin-left: 12px;
    color:#505966
}
.notice_pic{
	 width: 158px;
    height: 87px;
    float: left;
    margin-left: 9px
}
.foot_bot{
	margin-top:30px;
	border-top: 3px solid #5c686e
}